.wrapper {
    width: 300px;
    min-height: calc(100vh - var(--default-layout-header-height));
    background-color: #fff;
    user-select: none;
}

.inner {
    position: fixed;
    width: 300px;
}
