.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 2px 12px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #fff;
}

.inner {
    height: 100%;
    width: 100%;
    margin-inline: 20px;
    padding: 0 var(----default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.more-btn {
    font-size: 2rem;
    padding: 4px 8px;
    cursor: pointer;
    background-color: transparent;
}
